alibi-detect==0.10.4
dvc[all]==2.40.0
python-box==6.1.0
jupyter==1.0.0
pandas==1.5.2
sqlalchemy==1.4.46
psycopg2-binary==2.9.5
matplotlib==3.6.2
seaborn==0.12.2
plotly-express==5.11.0
scikit-learn==1.2.0
lightgbm==3.3.4
xgboost==1.7.3
eli5==0.13.0
uvicorn==0.20.0
fastapi==0.89.1
csv2md==1.1.2